{% load static %}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'dashboard'%}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Doctors</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'doctor_list'%}"> 
              <i class="bi bi-circle"></i><span>Doctors List </span>
            </a>
          </li>

          <li>
            <a href="{% url 'doctor_create'%}"> 
              <i class="bi bi-circle"></i><span>Add Doctors </span>
            </a>
          </li>
         
          <li>
            <a href="{% url 'search_doctors'%}">
              <i class="bi bi-circle"></i><span>Search Doctors</span>
            </a>
          </li>
          
          
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Patients</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'patient_list'%}">
              <i class="bi bi-circle"></i><span>Patients List</span>
            </a>
          </li>
          <li>
            <a href="{% url 'patient_create'%}">
              <i class="bi bi-circle"></i><span>Add Patient</span>
            </a>
          </li>

          <li>
            <a href="{% url 'patient_create'%}">
              <i class="bi bi-circle"></i><span>Search Patient</span>
            </a>
          </li>
          
          
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Interns</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'intern_list'%}">
              <i class="bi bi-circle"></i><span>Intern List</span>
            </a>
          </li>
          <li>
            <a href="{% url 'intern_create'%}">
              <i class="bi bi-circle"></i><span>Add Intern</span>
            </a>
          </li>

          <li>
            <a href=" #">
              <i class="bi bi-circle"></i><span>Search Intern</span>
            </a>
          </li>

        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Staff</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'staff_list'%}">
              <i class="bi bi-circle"></i><span>Staff List</span>
            </a>
          </li>
          <li>
            <a href="{% url 'staff_create'%}">
              <i class="bi bi-circle"></i><span>Add staff</span>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>Search Staff</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Reports
          </span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'report_list'%}">
              <i class="bi bi-circle"></i><span>Medical Reports</span>
            </a>
          </li>
          
          <li>
            <a href="{% url 'report_create'%}">
              <i class="bi bi-circle"></i><span>Create Reports</span>
            </a>
          </li>

          <li>
            <a href="{% url 'labtest_list'%}">
              <i class="bi bi-circle"></i><span>Lab Reports</span>
            </a>
          </li>
         
        </ul>
      </li><!-- End Icons Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'nonstaff_list'%}">
          <i class="bi bi-question-circle"></i>
          <span>Non Staff</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-envelope"></i>
          <span>Appoinments</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'register'%}">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'login'%}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'system_settings'%}">
          <i class="bi bi-dash-circle"></i>
          <span> System Settings</span>
        </a>
      </li><!-- End Error 404 Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'help_and_support'%}">
          <i class="bi bi-file-earmark"></i>
          <span>Help & Support</span>
        </a>
      </li><!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->